.navbar {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }
  
  .navbar li {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .navbar li.active {
    background-color: #b7bcc1;
    color: white;
  }

  


